<!-- Views/Shared/_Footer.cshtml -->
<footer class="footer">
  <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Emna Ben Romdhane 2025</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Gestion des Fiches de Non-Conformité (FNC)</span>
  </div>
</footer>
