@using PFE_Etudiant_Asteelflash.Application.Tri.Dtos
@model TriFncQrqcDto

<input asp-for="FncId" type="hidden" />
<div class="form-group">
    <label asp-for="DateTri" class="control-label"></label>
    <input asp-for="DateTri" class="form-control" type="date" />
</div>
<div class="form-group">
    <label asp-for="PiloteName" class="control-label"></label>
    <input asp-for="PiloteName" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Client" class="control-label"></label>
    <input asp-for="Client" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="ReferenceProduit" class="control-label"></label>
    <input asp-for="ReferenceProduit" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="ObjetTri" class="control-label"></label>
    <input asp-for="ObjetTri" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="NumeroAlerte" class="control-label"></label>
    <input asp-for="NumeroAlerte" class="form-control" />
</div>
